<%= form_for @user,method: :patch do |f| %>
                    
                                   
										<%= f.text_field :email, placeholder: "Name", class: "form-control" %>
                           
                                        
                          
                        <div class="col-sm-4 col-sm-offset-4 input_success">
                                         <%= f.submit "Update", class: 'btn btn-red btn-md form-control'%>
                        </div>
                 
</div>
 <% end %></div></div></div>