<p id="notice"><%= notice %></p>

<h1>Payments</h1>

<div class="widget-content nopadding">
            <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Remaning</th>
        <th>To Pay</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.remaining %></td>
        
          <td><%= payment.instalment %></td>
          <td><%= link_to 'Download PDF ',show_payment_payments_path(payment, format: 'pdf'),target: '_blank', class: "btn btn-primary"%> </td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
