
    <div class="span6">
      <div class="widget-box">
        <div class="widget-title">
         <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>Asking Queries</h5>
        </div>
        <div class="widget-content nopadding">
        <div class="form-horizontal"">
       
<%= form_with scope: :query, url: queries_path, local: true do |form| %>
    <div class= "span6">
  <p>
    <br>
    <%= form.text_area :description %>
  </p>
  </div>
 
 <div class= "span6">
  <p>
    <%= form.submit "Submit", class: "btn btn-success" %>
  </p>
  </div>
<% end %>


<%= link_to 'Back', queries_path, class: "btn btn-primary" %>

</div>
</div>
</div>
</div>
</div>
