 <div class="row-fluid">
    <div class="span12">
      <div class="widget-box">
        <div class="widget-title">
         <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>Reports</h5>
        </div>
        <div class="widget-content nopadding">
        <div class="form-horizontal"">
<%= form_for :payment, method: :get,remote:true,id: 'payment_payment' do |f|%>
 
<div class="control-group">
              <label class="control-label">Select:</label>
              <div class="controls">
 <%= f.select :payment,options_for_select(['Offline', 'Online', 'All']),{prompt:true},class: 'form-control'%>
              </div>
              </div>
<!--          <input type="text" class="span11" placeholder="Enter Name" />
 -->    
           
<% end %>
 
  
<div id="stage">
  <%#=render 'report'%>
</div>
 


<script type='text/javascript'>
$('#payment_payment').on('change', function() {
 			var payment_payment;
 			Item = $('#payment_payment').val();
  	$.ajax({
   		url: '/reports/select',
   		type: 'GET',
   		dataType: 'script',
   		data: {payment_payment: Item},
   }).done(function(data) { 

 });
});
</script>