<!DOCTYPE html>
<html>
  <head>
    <title>Sparkle Institute of sucess || www.sparkleinstituteofsucess.com</title>
    <%= csrf_meta_tags %>
    <%#= javascript_include_tag 'application', "nested_form" %>
    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	 <% if user_signed_in? %>
     <%= render 'home/dash'%>
     <% else %>
  <% end %>
 
    <%= yield %>
  </body>
</html>


